<template>
    <div>
        <div class="column is-12" style="background-color: coral; height: 40rem;">
            <div class="column">
                <b-progress :value="enemy.health" :max="enemy.max_health" type="is-danger" size="is-medium" show-value>
                    {{enemy.health}}/{{enemy.max_health}}
                </b-progress>
            </div>       
        </div>
        <div class="column is-12" style="background-color: grey; height='4rem'">
            <div class="columns">
            <div class="column">
                icon
            </div>     
            <div class="column">
                <button class="button is-success" v-on:click="attack(1)">
                    <strong>Fight!</strong>
                </button>
            </div>
            <div class="column">
                Weaponicon
            </div>        
            <div class="column">
                <b-progress :value="user.health" :max="user.max_health" type="is-danger" size="is-medium" show-value>
                    {{user.health}}/{{user.max_health}}
                </b-progress>
            </div>    
            </div>
        </div>
    </div>
</template>

<script>
    import * as endpoints from "@/api/endpoints";

    export default {
        data() {
            return {
                enemy: {
                    health : 1,
                    max_health : 100
                },
                user: {
                    health : 1,
                    max_health : 100
                },
            }
        },
        methods : {
            async getPlayerEnemy(userid) {
                const result = await endpoints.PlayerEnemy(userid);
                if (result == null) {
                    this.$router.push({ name: "NewEnemy"})
                }
                this.enemy = result;
            },
            async getPlayer(userid) {
                const result = await endpoints.GetUser(userid);
                if (!result) {
                    this.alertCustomError("GetUser failed");
                }
                this.user = result;
            },
            async attack(userid) {
                const result = await endpoints.Attack(userid)
                if (!result) {
                    this.alertCustomError("attack failed")
                }
                this.user = result;
                this.enemy = result.enemy;
                this.UpdateHealth();
            },
            UpdateHealth(){
                    if(this.enemy.health <= 0){
                    this.$router.push({ name: "NewEnemy"})
                    }
                    if(this.user.health <= 0){
                    this.$router.push({ name: "HealUp"})
                    }
            },
            alertCustomError(message) {
                this
                    .$buefy
                    .dialog
                    .alert({
                        title: "Error",
                        message: message,
                        type: "is-danger",
                        hasIcon: true,
                        icon: "times-circle",
                        iconPack: "fa",
                        ariaRole: "alertdialog",
                        ariaModal: true
                    });
            },
        },
        async mounted() {
            await this.getPlayer(1);
            await this.getPlayerEnemy(1);
            this.UpdateHealth();
        },
    }
</script>