<template>
    <div>
        <div class="columns center" style="background-color: coral; height: 40rem;">
            <div class="column">
                <div>Old Weapon</div>
            <div>You Died</div><br>
            </div>   
        </div>
            <div class="columns" style="background-color: grey; height='4rem'">
            <div class="column">
                <button class="button is-success" v-on:click="respawn()">
                    <strong>Respawn</strong>
                </button>
            </div>     
        </div>
    </div>
</template>

<script>
    import * as endpoints from "@/api/endpoints";

    export default {
        data() {
            return {
                user: {},
                newweapon: {},
                enemy: {},
            }
        },
        methods : {
            async getUser(userid) {
                const result = await endpoints.GetUser(userid);
                if (!result) {
                    this.alertCustomError("GetPlayerWeapon failed");
                }
                this.user = result;
            },
            async getRandomWeapon() {
                const result = await endpoints.RandomWeapon();
                if (!result) {
                    this.alertCustomError("GetRandomWeapon failed");
                }
                this.newweapon = result;
            },
            async updatePlayerHealth(){
                this.user.health = this.user.max_health;
                const result = await endpoints.UpdateUser(this.user)
                if (!result) {
                    this.alertCustomError("keepWeapon failed")
                }
            },
            async updatePlayerWeapon(userid){
                const result = await endpoints.UpdatePlayerWeapon(userid, this.newweapon)
                if (!result) {
                    this.alertCustomError("updateWeapon failed")
                }
            },
            async updatePlayerEnemy(userid) {
                const result = await endpoints.UpdatePlayerEnemy(userid, this.enemy)
                if (!result) {
                    this.alertCustomError("healEnemy failed")
                }
            },
            async getRandomEnemy() {
                const result = await endpoints.RandomEnemy();
                if (!result) {
                    this.alertCustomError("getEnemy failed")
                }
                this.enemy = result;
            },
            async respawn() {
                await this.getUser(1);
                await this.updatePlayerHealth();
                await this.getRandomWeapon();
                await this.updatePlayerWeapon(1);
                await this.getRandomEnemy();
                await this.updatePlayerEnemy(1);
                this.$router.push({ name: "Game"})
            },
            alertCustomError(message) {
                this
                    .$buefy
                    .dialog
                    .alert({
                        title: "Error",
                        message: message,
                        type: "is-danger",
                        hasIcon: true,
                        icon: "times-circle",
                        iconPack: "fa",
                        ariaRole: "alertdialog",
                        ariaModal: true
                    });
            },
        },
        mounted() {
            this.getUser(1);
                if(Object.prototype.hasOwnProperty.call(this.user, 'health')){
                    if(this.user.health > 0){
                    this.$router.push({ name: "Game"})
                    }
                }
        },
    }
</script>