<template>
    <div>
        <div class="columns center" style="background-color: coral; height: 40rem;">
            <div class="column">
                <div>A new enemy approches you</div>
            <div>name: {{ newenemy.name}}</div><br>
            <div>rarity: {{ newenemy.enemy_rarity.rarity}}</div><br>
            </div>  
        </div>
            <div class="columns" style="background-color: grey; height='4rem'">
            <div class="column">
                <button class="button is-danger" v-on:click="getRandomEnemy()">
                    <strong>Run away</strong>
                </button>
            </div>     
            <div class="column">
                <button class="button is-success" v-on:click="fightEnemy(1)">
                    <strong>Fight!</strong>
                </button>
            </div>     
        </div>
    </div>
</template>

<script>
    import * as endpoints from "@/api/endpoints";

    export default {
        data() {
            return {
                newenemy: {
                    enemy_rarity: {}
                },
            }
        },
        methods : {
            async getPlayerEnemy(userid) {
                const result = await endpoints.PlayerEnemy(userid);
                return result
            },
            async getRandomEnemy() {
                const result = await endpoints.RandomEnemy();
                if (!result) {
                    this.alertCustomError("GetRandomEnemy failed");
                }
                this.newenemy = result;
            },
            async fightEnemy(userid) {
                const result = await endpoints.UpdatePlayerEnemy(userid, this.newenemy)
                if (!result) {
                    this.alertCustomError("fightEnemy failed")
                }
                this.$router.push({ name: "Game"})
            },
            alertCustomError(message) {
                this
                    .$buefy
                    .dialog
                    .alert({
                        title: "Error",
                        message: message,
                        type: "is-danger",
                        hasIcon: true,
                        icon: "times-circle",
                        iconPack: "fa",
                        ariaRole: "alertdialog",
                        ariaModal: true
                    });
            },
        },
        mounted() {
            const result = this.getPlayerEnemy(1);
                if(Object.prototype.hasOwnProperty.call(result, 'health')){
                    if(result.health > 0){
                    this.$router.push({ name: "Game"})
                    }
                }
                this.getRandomEnemy();
        },
    }
</script>