<template>
    <div>
        <div class="columns center" style="background-color: coral; height: 40rem;">
            <div class="column">
                <div>Old Weapon</div>

            <div>Attack: todo</div><br>
            <div>Speed: todo</div><br>
            <div>Rarity: todo</div><br>  
            </div>   
            <div class="column">
                <div>New Weapon</div>
            <div>Attack: {{ newweapon.base_damage }}</div><br>
            <div>Speed: todo</div><br>
            <div>Rarity: todo</div><br>
            </div>  
        </div>
            <div class="columns" style="background-color: grey; height='4rem'">
            <div class="column">
                <router-link :to="{ name: 'Game' }" class="button is-danger">
                    <strong>Discard new weapon</strong>
                </router-link>
            </div>     
            <div class="column">
                <button class="button is-success" v-on:click="keepWeapon(1)">
                    <strong>Keep new weapon</strong>
                </button>
            </div>     
        </div>
    </div>
</template>

<script>
    import * as endpoints from "@/api/endpoints";

    export default {
        data() {
            return {
                oldweapon: {},
                newweapon: {},
            }
        },
        methods : {
            async getPlayerWeapon(userid) {
                const result = await endpoints.PlayerWeapon(userid);
                if (!result) {
                    this.alertCustomError("GetPlayerWeapon failed");
                }
                this.oldweapon = result;
            },
            async getRandomWeapon() {
                const result = await endpoints.RandomWeapon();
                if (!result) {
                    this.alertCustomError("GetRandomWeapon failed");
                }
                this.newweapon = result;
            },
            async keepWeapon(userid) {
                const result = await endpoints.UpdatePlayerWeapon(userid, this.newweapon)
                if (!result) {
                    this.alertCustomError("keepWeapon failed")
                }
                this.$router.push({ name: "NewEnemy"})
            },
            alertCustomError(message) {
                this
                    .$buefy
                    .dialog
                    .alert({
                        title: "Error",
                        message: message,
                        type: "is-danger",
                        hasIcon: true,
                        icon: "times-circle",
                        iconPack: "fa",
                        ariaRole: "alertdialog",
                        ariaModal: true
                    });
            },
        },
        mounted() {
                this.getRandomWeapon();
                this.getPlayerWeapon(1);
        },
    }
</script>