<template>
    <footer class="footer">
        <div class="content has-text-centered">
            <div class="buttons">
                <router-link :to="{ name: 'Contact' }" class="button is-light">
                    Contact
                </router-link>
                <router-link :to="{ name: 'Privacy' }" class="button is-light">
                    Privacy
                </router-link>
            </div>
        </div>
    </footer>
</template>