<template>
    <div>
        <nav-menu></nav-menu>
        
        <div class="columns"  style="text-align: center;">
            <add-element></add-element>
            <div class="column is-8" style="background-color: cyan;">
                        <router-view />
            </div>
            <add-element></add-element>
        </div>

        <footer-element></footer-element>
    </div>
</template>

<script>
    import NavMenu from './components/NavMenu.vue'
    import Footer from './components/Footer.vue'
    import Add from './components/Add.vue'

    export default {
        name: 'App',
        components: {
            'nav-menu': NavMenu,
            'footer-element': Footer,
            'add-element': Add,
        }
    }
</script>

<style>
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}
</style>